html{
    background-color:black;
    background:none;
   
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;

}
body{
  
    
    text-align: center;
   margin:0;
   padding:0;
   height:auto;
   background-color:black;
   background:url("../images/kvistholt-photography-oZPwn40zCK4-unsplash.jpg");
  
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-self: auto;
  
    
}

.box
{
    background-color:black;
    height:90%;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
.container
{height:73%;
    padding: 15px 32px;
    margin-top: 6%;
    opacity: .8;
    text-align: center;
    color:white;
    align-self: center;
    
}
#downButton
{

    color:white;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top:8%;
  
}
header{
    font-size:40px;
    
}
#header_container
{
    position:relative;
}
#about
{
    height:27%;
    background: white;
    color:black;
    position:relative;

}
h2 {
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    grid-gap: 20px;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
}
#about p
{
    margin:3%;
    margin-left:20%;
    margin-right:20%;
  
}

.image
{
    background:url("../images/IMG_7105.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  
    height:200px;
    width:300px;
    
  margin-right:auto;
  margin-left:auto;
   

   
}
.dark-off 
{
background:white;

}