
/* ROBOTO font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");


/*----------------------------------------------------- */
/*--------------- GENERAL------------------------------ */
/*----------------------------------------------------- */

body{
  font-family: 'Roboto Mono', monospace;
  background:url('../images/images.jpg');

 


  
  scroll-behavior: smooth;
}
.general_btn {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-color: #363636;
  border-style:solid
}

p
{
  
  font-size: 16px;
}


/*----------------------------------------------------- */
/*--------------- HEADER CONTAINER -------------------- */
/*----------------------------------------------------- */
#header_container
{

  width:50%;
  top:0;
  margin-left: 25%;
  border-color: #363636;
  border-style: solid;
  text-align: center;
  display:block;
  position:sticky;
  transition: top 0.3s ease-in-out;
  overflow:visible;
  
}


h1
{
  text-align: center;
}

/*----------------------------------------------------- */
/*--------------- SLIDER--0-------------------- */
/*----------------------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*----------------------------------------------------- */
/*--------------- NAVIGATION BAR--0-------------------- */
/*----------------------------------------------------- */
ul {
  list-style-type:none ;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
 
 
}

li {
  float: left;
  
}

li a {
  display: block;
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}


/*----------------------------------------------------- */
/*--------------- DESC CONTAINER ---------------------- */
/*----------------------------------------------------- */
#desc_container
{
  height: auto;
  display: auto;
  border-color: #363636;
  border-style: solid;
  
  margin: 1%;
  margin-left:15%;
  margin-right:15%;
  padding: 0;
  align-self: center;

  background-color:rgba(255,255,255,.5);



 
}
.center
{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}


#tableContainer
{
    height:auto;
    display:auto;
    text-align: center;
    align-self:center;
    overflow: hidden;
  
}
#complexity
{
  
 width:100%;
 height:100%;
 
 

 

}

#desc
{
    
    height: 75%;
    align-self:center;
    height:auto;
    display:auto;
 
}
#desc p{
  margin-left:5%;
  margin-right:5%;
  align-self:center;

}
#desc header
{
    color:black;
    font-size: 20px;
    text-decoration: bold;
    margin-left:3%;
    padding-top:3%;
    align-self:center;
   
}
#interview_btn 
{
  
  width:10px;
  margin:1%;
  
}

#interview_btn  div{

    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    text-align: center;
   }
   /* Hover on Parent Container */
   #interview_btn:hover{
    cursor: pointer;
   }
   
   #interview_btn:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
   .fa-arrow-down
   {
     font-size:30px;
     color:#4CAF50;
   }
/*----------------------------------------------------- */
/*--------------- ANIMATION CONTAINER ----------------- */
/*----------------------------------------------------- */
#animation_container
{
  height:75vh;
  display:flex;
  border-color: #363636;
  border-style: solid;
  
  margin: 1%;
  padding: 0;
  align-self: center;
  
}

#code
{
  float:left;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  
 white-space:pre-wrap;
  
  
}

#animation
{
  float:right;
  width: 100%;
  background-image: url('../images/animation_bckg.jpg');;
}

.btn-methods 
{
  margin-top: 3%;
  margin-left: 3%;
  border-color: black;
  border-style: solid;
  padding: 1%;
  display: inline-flex;

}
.btn-methods button {
  background-color: #4CAF50;
  border: 1px solid green; 
  color: white; 
  padding: 15px 80px 15px 40px;
  cursor: pointer; 
  width: 20%; 
  margin: 1%;
  align-content: center;
  display: block; /* Make the buttons appear below each other */
  
}

.btn-methods button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-methods button:hover {
  background-color: #3e8e41;
}
/*----------------------------------------------------- */
/*--------------- INTERVIEW CONTAINER ----------------- */
/*----------------------------------------------------- */
#interview_container
{
  border-color: #363636;
  border-style: solid;
  margin-top: 1vh;
  float :left;
  width:98%;
  margin: 1%;
  padding: 0;
  
}

/*----------------------------------------------------- */
/*--------------- TABLE GRAPHICS ---------------------- */
/*----------------------------------------------------- */

table
{
  margin: 2%;
  border-color: #363636;
  border-style:solid;
  margin-left:auto; 
  margin-right:auto;
}

thead
{
  background-color: #4CAF50;
  color: white;
}
td,th
{   
  border: 1px solid #FFFFFF;
  padding: 2vw;
  text-align: center;
}

.grayrow
{
  background-color: #E0E0E0;
  color: #363636;
}

.whiterow
{
  background-color: #F1F1F1;
  color: #363636;
}
/*----------------------------------------------------- */
/*--------------- Dark Mode--0-------------------- */
/*----------------------------------------------------- */

body.dark-mode 
{
  background-color: black;
  background-image: url('../images/milky-way-starry-sky-night-sky-star-957061.jpeg');
  color: white;

 
}
.dark-mode #desc_container
{
  border:1px solid white;
  background-color:rgba(0,0,0,0.5);
}
.dark-mode ul {
 
  background-color:black;
  color:white;
 
 
}
.dark-mode li a {
 color:white;
}
.dark-mode #desc header{
  color:white;
  opacity:1;
}

.dark-mode #interview_container {
  background-image: url('../images/milky-way-starry-sky-night-sky-star-957061.jpeg');
  border:1px solid white;
}
