
/* ROBOTO font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");


/*----------------------------------------------------- */
/*--------------- GENERAL------------------------------ */
/*----------------------------------------------------- */
html
{
  font-family: 'Roboto Mono', monospace;
  background:url('../images/index_bckgd.png');
}

.general_btn {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-color: #363636;
  border-style:solid
}

p
{
  margin: 1%;
}

/*----------------------------------------------------- */
/*--------------- HEADER CONTAINER -------------------- */
/*----------------------------------------------------- */
#header_container
{
margin-left:25%;
top:0;
  border-color: #363636;
  border-style: solid;
  text-align: center;
  display:block;
  position:fixed;
  transition: top 0.3s;
}


h1
{
  text-align: center;
}


/*----------------------------------------------------- */
/*--------------- NAVIGATION BAR--0-------------------- */
/*----------------------------------------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}


/*----------------------------------------------------- */
/*--------------- DESC CONTAINER ---------------------- */
/*----------------------------------------------------- */
#desc_container
{
  height: auto;
  display: auto;
  position:relative;
  border-color: #363636;
  border-style: solid;
  
  margin: 1%;
  padding: 0;
  align-self: center;
  
}
#tableContainer
{
    height:auto;
    display:auto;
    text-align: center;
    align-self:center;
    overflow: hidden;
    padding-top: 30px;
}
#complexity
{
   float:left;
 width:50%;
 align-self:center;
 

}
#methods
{
    float:right;
   width:50%;
   align-self:center;
   
}
#desc
{
    position: relative;
    
      
     
  height: 75%;
}
#desc header
{
    color:black;
    font-size: 20px;
    text-decoration: underline;
}
#interview_btn 
{

  width: 10%;
  margin: 1%;
  
  

}

#interview_btn  div{

    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
    text-align: center;
   }
   /* Hover on Parent Container */
   #interview_btn:hover{
    cursor: pointer;
   }
   
   #interview_btn:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
/*----------------------------------------------------- */
/*--------------- ANIMATION CONTAINER ----------------- */
/*----------------------------------------------------- */
#animation_container
{
    height:55vh;
    display:flex;
  border-color: #363636;
  border-style: solid;
  
  margin: 1%;
  padding: 0;
  align-self: center;
  
}

#code
{
  float:left;
  width: 30%;
  background-color: white;
  border: 1px solid black;
  
 white-space:pre-wrap;
  
  
}

#animation
{
    float:right;
  width: 70%;
  background-color:#BBBBBB;
}

/*----------------------------------------------------- */
/*--------------- INTERVIEW CONTAINER ----------------- */
/*----------------------------------------------------- */
#interview_container
{
  border-color: #363636;
  border-style: solid;
  margin-top: 1vh;
  float :left;
  width:98%;
  margin: 1%;
  padding: 0;
  
}

/*----------------------------------------------------- */
/*--------------- TABLE GRAPHICS ---------------------- */
/*----------------------------------------------------- */

table
{
  margin: 3%;
  border-color: #363636;
  border-style:solid
}

thead
{
  background-color: #4CAF50;
  color: white;
}
td,th
{   
  border: 1px solid #FFFFFF;
  padding: 2vw;
  text-align: left;
}

.grayrow
{
  background-color: #E0E0E0;
  color: #363636;
}

.whiterow
{
  background-color: #F1F1F1;
  color: #363636;
}