#desc_container
{
  height: auto;
  display: auto;
  border-color: #363636;
  border-style: solid;
 
  
  margin: 1%;
  margin-left:15%;
  margin-right:15%;
  padding: 0;
  align-self: center;
  overflow:hidden;

 
}
