body{
    background-color:rgb(124, 117, 115);
    background-image:url(../images/background1.png);
    background-size: cover;
    background-repeat : no-repeat;
    background-position:center;
}
.container{
    margin-left:auto;
    margin-right:auto;
    width:1024px;
}
header{

    text-decoration-line: underline;
    height :75px;
    width:1024px;
}
main{
   
    width: 1024px;
    height: 400px;
    text-align: center;
    padding-top:40px;
    
}
.animation
{
    background-color:grey;
    width:1024px;
    height: 400px; 
}
h1{
    color:white;
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
    text-align:center;
}
a{
    color:white;
}
p{
    color:white;
}